<% include ../partials/header %>
    <h1>Here are all the Schedule</h1>

    <% if (schedules){ %>
        <ul>
            <% schedules.forEach((schedule)=>{ %>
                <li> <a href="/schedule/<%=schedule.id%>"><%=schedule.Activity%> </a></li>
                <a href="/schedule/<%=schedule.id%>/edit" class="btn btn-warning btn-sm">Edit</a>
                <form action="/schedule/<%=schedule.id%>?_method=DELETE" class = "d-inline" method="POST">
                    <button class="btn btn-sm btn-danger">Delete</button>
                </form>
            <% }); %>
        </ul>
    <%}else{%>
        <h3>No Schedules yet.</h3>
        <h3>Create one now</h3>
        <a href="/schedule/new" class="btn btn-success">Create</a>
    <%}%>

    <a href="/schedule/new" class="btn btn-primary">Create New</a>
<% include ../partials/footer %>